<footer class="mt-5">
    <div id="footer-nav" class="d-flex justify-content-center">
        <a href="/about" class="footer-link text-uppercase mr-2"><small>About</small></a>
        <a href="/shop" class="footer-link text-uppercase mr-2"><small>Shop</small></a>
        <a href="/reviews" class="footer-link text-uppercase mr-2"><small>Reviews</small></a>
        <a href="/recipes" class="footer-link text-uppercase mr-2"><small>Recipes</small></a>
        <a href="/contact" class="footer-link text-uppercase mr-2"><small>Contact</small></a>
        <a href="#" class="footer-link text-uppercase mr-2"><small>Policies</small></a>
    </div>
    <div id="copyright-text">
        <small>&copy; Copyright 2020 Plankcooking.com. All Rights Reserved</small>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>