


    <div class="col">
      <footer class="page-footer font-small bg-light d-block rounded">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> Team Nodes</a>
          <p>Contact Information: info@teamnodes.com</p>
        </div>

      </footer>
    </div>


