body {
    background-color: #22190F;
    background-image: url("BackgroundImage.png");
    background-repeat: no-repeat;
    background-position: center;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.paper-background {
    background-image: url("PaperBackground_Middle.png");
}

.photo-header-background {
    background-image: url("Photo_Background.png");
    background-position: center;
    background-repeat: no-repeat;
}

#main-nav {
    background-color: #22190F;
}

#logo {
    position: relative;
    top: 1.4rem;
}

#main-home-image img {
    padding: 10px 10px 10px 10px;
    background-image: url("HeaderImage_background.png");
    background-position: center;
    background-repeat: no-repeat;
}

#cart-button {
    position: relative;
    top: 4rem;
}

#navbarNav {
    position: relative;
    left: 28%;
}

#navbarNav ul li a {
    color: #9C805E;
    font-size: 22px;
}

#navbarNav ul li {
    margin-right: 10px;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    border-color: #fff;
    color: #fff;
}

.side-nav li a {
    color: #EEE8D1;
}

.side-nav li a:hover {
    text-decoration: underline;
    text-decoration-color: #EEE8D1;
}

.side-nav li {
    border-top: 2px #9C805E dotted;
}

.side-nav li:last-of-type {
    border-bottom: 2px #9C805E dotted;
}

/* About */

.about-divider {
    color: #9C805E;
    border-bottom: 2px #9C805E dotted;
}

/* Reviews */

.reviews-image {
    background-image: url("Photo_Background_Martha.png");
    background-position: center;
    position: relative;
    top: -30px;
    left: -30px;
}

.review-header {
   position: relative;
   top: -270px;
   margin-left: 330px;
}

.review-item {
    position: relative;
    top: -220px;
    border-top: 2px #9C805E dotted;
}

.review-item h5 {
    display: inline;
    border-bottom: 2px #9C805E dotted;
    border-right: 2px #9C805E dotted;
    color: #9C805E;
}

/* Recipes */

.recipe-header {
    border-bottom: 2px #9C805E dotted;
    border-top: 2px #9C805E dotted;
    color: #9C805E;
}

.recipe-item {
    margin-bottom: 20px;
}

/* Contact */

.contact-info {
    border-bottom: 2px #9C805E dotted;
    border-top: 2px #9C805E dotted;
}

.contact-info h5 {
    display: inline;
    border-bottom: 2px #9C805E dotted;
    border-right: 2px #9C805E dotted;
    color: #9C805E;
}

/* Shop */

.shop-dropdown {
    color: #ffffff;
    background-color: #22190F;
}

.shop-dropdown:hover {
    color: #ffffff;
}

.shop-dropdown a {
    color: #ffffff;
}

.shop-dropdown a:hover {
    color: #22190F;
}

.section-label {
    color: #9C805E;
    border-top: 2px #9C805E dotted;
}

.section-label h5 {
    display: inline;
    border-bottom: 2px #9C805E dotted;
    border-right: 2px #9C805E dotted;
}

.shop-item img {
    margin-bottom: 10px;
}

.shop-summary {
    color: #EEE8D1;
}

.white-text {
    color: #EEE8D1;
}

.item-title {
    display: inline;
    border-bottom: 2px #9C805E dotted;
    border-right: 2px #9C805E dotted;
    padding-bottom: 3px;
    padding-right: 200px;
    font-size: 18px;
}

/* Cart */

.table-design {
    border-collapse: collapse;
    width: 100%;
}

.table-design td, .table-design th {
    border: 2px dotted #9C805E;
    text-align: left;
    padding: 8px;
}

.cart-header {
    background-color: #BC9972;
    color: #4B2928;
}

.cart-body {
    background-color: #E8E3C8;
}

.table-design th {
    background-color: #D2BD9C;
}

.cart-body button, .cart-header button, .table-submit {
    background-color: #4D3B29;
    border: 2px solid #4B2928;
    color: #D2BD9C;
}

/* Checkout */

.address-info {
    border: 2px dotted #9C805E;
}

.address-header {
    background-color: #D2BD9C;
}

.address-info label {
    display: inline-block;
    width: 15%;
    text-align: right;
}

.address-info input {
    margin-bottom: 15px;
}


/* Footer */

.footer-link:hover {
    text-decoration-color: #9C805E;
}

.footer-link small {
    color: #9C805E;
    border-right: 1px solid #9C805E;
    padding-right: 5.5px;
}

.footer-link:last-of-type small {
    border-right: none;
}

#copyright-text {
    text-align: center;
    color: #9C805E;
}

@media (min-width: 1024px) {

}

@media (min-width: 768px) {
    #nav-left {
        display: none;
    }

    .shop-dropdown {
        display: none;
    }
}

@media (max-width: 768px) {
    #navbarNav {
        position: relative;
        left: 0;
    }

    #logo-header {
        display: none;
    }

    #footer-image {
        display: none;
    }

    #main-home-image img {
        background-color: transparent;
    }

    .side-nav {
        display: none;
    }

    #shop-logo {
        display: none;
    }

    .item-title {
        display: block;
    }

    .review-header {
        position: relative;
        top: 0;
        margin-left: 0;
     }
     
     .review-item {
         position: relative;
         top: 0;
     }
    
}