<%- include("./shared/header") %>
<div class="container mt-5">
    <div class="text-center">
        <button class="btn shop-dropdown btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Us
        </button>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <img id="shop-logo" src="./images/Contact_MenuHeader.png" alt="Reviews Image">
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="px-4 py-3 paper-background">
                <div class="contact-info mb-4">
                    <h5 class="pr-5">CONTACT US</h5>
                    <p class="text-white">
                        You can contact us one of two ways; click one of the email links below to send us an email, or call the customer service number.
                    </p>
                    <p class="text-white">
                        CUSTOMER SERVICE:
                    </p>
                    <a href="">ChefHowie@plankcooking.com</a>
                    <p class="text-white mb-1">
                        Phone: 425.881.0422
                    </p>
                    <p class="text-white">
                        Fax: 425.881.7338
                    </p>
                </div>
                <p class="text-white">
                    WHOLESALE OPPORTUNITIES are available, please contact customer service for more information.
                </p>
            </div>
        </div>
    </div>
</div>
<%- include("./shared/footer") %>