<%- include("./shared/header") %>

<div id="main-home-image" class="text-center mt-4">
    <img class="img-fluid" src="images/HomeImage.png" alt="Home Image">
</div>


<div class="mt-3 d-flex flex-wrap justify-content-center">
    <div class="d-flex">
        <a href="shop/spicerubs">
            <img class="img-fluid" src="images/SpiceRubs_cube.png" alt="Spice Rubs">
        </a>
        <a href="shop/bakingplanks">
            <img class="img-fluid" src="images/BakingPlanks_cube.png" alt="Baking Planks">
        </a>
    </div>
    <div class="d-flex">
        <a href="shop/cookbooks">
            <img class="img-fluid" src="images/Cookbooks_cube.png" alt="Cookbooks">
        </a>
        <a href="shop/bbqplanks">
            <img class="img-fluid" src="images/BBQ_Planks_cube.png" alt="BBQ Planks">
        </a>
    </div>
</div>

<div id="footer-image" class="text-center">
    <img class="img-fluid" src="images/FooterPlank.png" alt="Footer Plank">
</div>

<%- include("./shared/footer") %>