<%- include("./shared/header") %>
<div class="container mt-5">
    <div class="text-center">
        <button class="btn shop-dropdown btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recipes
        </button>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <img id="shop-logo" src="./images/RecipesImages/Recipe_MenuHeader.png" alt="Recipe Image">
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="px-4 py-3 paper-background">
                <div class="recipe-item">
                    <h5 class="recipe-header">Alder Plank Roasted Porcini Crusted Salmon with Pesto Rice</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Alder Plank Roasted Porcini Crusted Salmon with Pesto Rice recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Ancho Chili Rubbed Chicken with Corn Relish</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Ancho Chili Rubbed Chicken with Corn Relish recipe.                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Cedar BBQ Plank Roasted Spicy Pecan Halibut</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Cedar BBQ Plank Roasted Spicy Pecan Halibut recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Cedar Plank Roasted Mushrooms</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Cedar Plank Roasted Mushrooms recipe.                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Garlic Chicken Dijon</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Garlic Chicken Dijon recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item pb-5">
                    <h5 class="recipe-header">Maple Roasted Pork Chops and Pearl Onions</h5>
                    <p class="text-white">
                        <img class="float-right" src="./images/RecipesImages/MaplePorkChops.png" alt="Recipe Image">
                        Click the Recipe PDF button to download the Maple Roasted Pork Chops and Pearl Onions recipe.                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Maple Turkey w/Apple-Pecan Stuffing</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Maple Turkey w/Apple-Pecan Stuffing recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item pb-5">
                    <h5 class="recipe-header">Plank Roasted Baby Back Ribs</h5>
                    <p class="text-white">
                        <img class="float-right" src="./images/RecipesImages/BBQRibs.png" alt="Recipe Image">
                        Click the Recipe PDF button to download the Plank Roasted Baby Back Ribs recipe.                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Plank Roasted Dungeness Crab Stuffed Mushrooms</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Plank Roasted Dungeness Crab Stuffed Mushrooms recipe.                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Plank Roasted Garlic-Rosemary Pork Chops</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Plank Roasted Garlic-Rosemary Pork Chops recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item pb-5">
                    <h5 class="recipe-header">Plank Roasted Honey Mustard Chicken</h5>
                    <p class="text-white">
                        <img class="float-right" src="./images/RecipesImages/MustardChicken.png" alt="Recipe Image">
                        Click the Recipe PDF button to download the Plank Roasted Honey Mustard Chicken recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Plank Roasted Pesto Stuffed Chicken Breast</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Plank Roasted Pesto Stuffed Chicken Breast recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item pb-5">
                    <h5 class="recipe-header">Plank Roasted Pumpkin Soup</h5>
                    <p class="text-white">
                        <img class="float-right" src="./images/RecipesImages/PumpkinSoup.png" alt="Recipe Image">
                        Click the Recipe PDF button to download the Plank Roasted Pumpkin Soup recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Plank Roasted Sausage Stuffed Zucchini</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Plank Roasted Sausage Stuffed Zucchini recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Porcini Chicken with Lemon-Thyme Zucchini</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Porcini Chicken with Lemon-Thyme Zucchini recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Pork Tenderloin with Herb Stuffing and Onions</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Pork Tenderloin with Herb Stuffing and Onions recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Salmon Oregano with Lemon Caper Dressing</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Salmon Oregano with Lemon Caper Dressing recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Salmon with Basil-Garlic Rub</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Salmon with Basil-Garlic Rub recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Sea Bass with Ginger</h5>
                          <p class="text-white">
                            Click the Recipe PDF button to download the Sea Bass with Ginger recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">Teriyaki Chicken Wings - Appetizer</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the Teriyaki Chicken Wings - Appetizer recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item pb-5">
                    <h5 class="recipe-header">The Original Cedar Plank Roasted Salmon</h5>
                    <p class="text-white">
                        <img class="float-right" src="./images/RecipesImages/CedarPlankSalmon.png" alt="Recipe Image">
                        Click the Recipe PDF button to download the The Original Cedar Plank Roasted Salmon recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
                <div class="recipe-item">
                    <h5 class="recipe-header">White King Salmon with Roasted Fennel</h5>
                    <p class="text-white">
                        Click the Recipe PDF button to download the White King Salmon with Roasted Fennel recipe.
                    </p>
                    <a href="">
                        <img src="./images/RecipesImages/RecipeDownload_Button.png" alt="Button">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./shared/footer") %>