<%- include("./shared/header") %>
<div class="container mt-5">
    <div class="text-center">
        <div class="btn-group mb-5 w-50">
            <button class="btn shop-dropdown btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reviews
            </button>
            <div class="dropdown-menu w-100 shop-dropdown">
                <a class="dropdown-item" href="">PRESS REVIEWS</a>
                <a class="dropdown-item" href="">TESTIMONIALS</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 text-center">
            <img id="shop-logo" src="./images/AboutImages/About_MenuHeader.png" alt="Reviews Image">
            <ul class="nav flex-column side-nav mt-2">
                <li class="nav-item text-center mx-5">
                    <a class="nav-link" href="">PRESS REVIEWS</a>
                </li>
                <li class="nav-item text-center mx-5">
                    <a class="nav-link" href="/">TESTIMONIALS</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="px-4 py-3 paper-background">
                <img class="reviews-image p-3" src="images/ReviewsImages/JHandMartha_photo.png" alt="JH and Martha">
                <div class="review-header text-center">
                    <h5 class="about-divider">JOHN HOWIE & PLANK COOKING ON MARTHA STEWART LIVING</h5>
                    <p class="text-white">
                        "Delicious. This is a very unusual and tasty, tasty appetizer!"
                    </p>
                    <p class="text-white">
                        "I think we should all try plank cooking."
                    </p>
                    <p class="text-white">
                        Martha Stewart - Martha Stewart Living Television Show
                    </p>
                </div>
                <div class="review-item">
                    <h5 class="review-item-header pr-5">Simply Seafood Magazine</h5>
                    <p class="text-white mt-3">
                        <img class="float-right" src="./images/ReviewsImages/SimplySeafood_logo.png" alt="Simply Seafood">
                        "Guests will delight in the delectable fragrance of salmon mingled with the aroma of the heated plank."
                    </p>
                    <p class="text-white">
                        Simply Seafood Magazine
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("./shared/footer") %>